
<div class="segment">
  <img class="img-fluid"
       src="https://images.pexels.com/photos/957010/milky-way-starry-sky-night-sky-star-957010.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  <div class="container">
    <h3>
      Watch Your Favourite Movies During COVID 19
    </h3>
    <h4>
      Based on
    </h4>
    <h1> Movies at <a id="artificial">cinema</a> Home.</h1>
    <div class="hidden divider"></div>
    <button
      (click)="goMovies()"
      class="btn btn-lg fw-bold button hvr-icon-grow">
      Get Started <i class="fas fa-play hvr-icon"></i>
    </button>
    <div class="footer">
      <h3>By Wookie Movies</h3>
    </div>
  </div>

</div>


<!--<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">-->
<!--  <header class="masthead mb-auto">-->
<!--    <div class="inner">-->
<!--      <h3 class="masthead-brand">Cover</h3>-->
<!--      <nav class="nav nav-masthead justify-content-center">-->
<!--        <a class="nav-link active" href="#">Home</a>-->
<!--        <a class="nav-link" href="#">Features</a>-->
<!--        <a class="nav-link" href="#">Contact</a>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </header>-->

<!--  <main role="main" class="inner cover">-->
<!--    <h1 class="cover-heading">Cover your page.</h1>-->
<!--    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>-->
<!--    <p class="lead">-->
<!--      <button-->
<!--        (click)="goMovies()"-->
<!--        class="btn btn-lg fw-bold button hvr-icon-grow">-->
<!--        Get Started <i class="far fa-lemon hvr-icon"></i>-->
<!--      </button>-->
<!--    </p>-->
<!--  </main>-->


<!--</div>-->
